---
interface Props {
  title: string
  description: string
  preloadImg?: string
}

const { title, description, preloadImg } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://res.cloudinary.com/laddge/image/upload/f_auto,q_auto/v1674993708/laddge.net/laddge.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="https://res.cloudinary.com/laddge/image/upload/f_auto,q_auto,c_scale,w_180,h_180/v1674993708/laddge.net/laddge.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    {preloadImg && <link rel="preload" as="image" href={preloadImg} />}
    <title>{title}</title>
  </head>
  <body ontouchstart="">
    <div id="navbar" class="navbar bg-base-200 absolute">
      <a href="/" class="btn btn-ghost normal-case text-xl">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="w-8 h-8 mr-1">
          <path fill="none" d="M0 0h64v64H0z"></path>
          <path
            fill="#111"
            d="M21 31v4h3v1h1v2h1v2h1v1h1v1h1v2h7v-2h1v-1h-3v1h-4v-1h-2v-1h1v-2h-1v-1h-1v-1h-1v-1h-1v-5h1v-2h1v-3h1v-3h1v-1h-1v-5h1v2h1v-2h-1v-1h1v1h1v1h1v-1h1v2h1v-2h-1v-1h1v1h1v5h1v2h1v3h1v2h1v2h1v2h1v1h-1v1h-1v1h1v1h3v-1h1v-1h1v-5h-1v-1h-1v-2h-1v-1h-1v-1h-1v-2h-1v-2h-1v-8h-1v-1h-1v-1h-2V9h-3v1h-2v1h-1v1h-1v11h-1v1h-1v1h-1v2h-1v1h-1v3z"
          ></path>
          <path
            fill="#f2f8f9"
            d="M28 16v3h1v-3h1v1h1v-1h-1v-1h-1v1zm4 0v2h1v-2h1v3h1v-3h-1v-1h-1v1zm-7 14v5h1v1h1v1h1v1h1v2h-1v1h2v1h4v-1h3v-2h1v-3h1v-2h1v-1h1v-1h-1v-2h-1v-2h-1v-2h-1v-3h-1v-2h-2v1h-6v3h-1v3h-1v2z"
          ></path>
          <path
            fill="#f5bf04"
            d="M28 19v2h1v1h5v-1h1v-2h-1v-1h-2v-1h-2v1h-1v1zM17 38v5h1v1h4v1h6v-1h1v-2h-1v-1h-1v-1h-1v-2h-1v-2h-1v-1h-3v1h-1v1h-2v1zm19 4v2h1v1h4v-1h2v-1h2v-1h1v-1h1v-2h-1v-1h-1v-2h-1v-1h-1v1h-3v-1h-1v1h-1v3h-1v3z"
          ></path>
          <path
            fill="#111"
            d="M12 46v7h31v1h-3v1h4v-1h1v-1h6v-1h-3v-1h4v-2h-1v-1h-1v2h-2v-1h2v-1h-3v1h-1v3h1v1h-2v-4h-1v-1h-1v4h-2v-3h2v-1h-3v1h-1v3h1v1h-2v-7h-2v5h-1v1h1v1h-1v-1h-1v-3h2v-1h-3v1h-1v3h1v1h-2v-7h-2v5h-1v1h1v1h-1v-1h-1v-3h2v-1h-3v1h-1v3h1v1h-2v-4h-1v-1h-1v3h-1v1h1v1h-1v-1h-1v-3h2v-1h-3v1h-1v3h1v1h-2v-2h-1v1h-2v-6z"
          ></path>
        </svg>
        Laddge
      </a>
    </div>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    scroll-padding: 72px;
  }
</style>
